Django
Pillow
apscheduler
bs4
geonamescache
gunicorn
internetarchive
openpyxl
pdf2image
PyMuPDF
pypdf
pytesseract
python-dateutil
reportlab
requests
playwright
timezonefinder
fontawesomefree
pytz
b2sdk
boto3
django-storages[boto3]
python-dotenv